<?php $slug = Url::getUriSegment(0); ?>

<!-- menu -->
<nav id="menu">
    <header>
        <?php
            $email = $this::$site['author']['email'];
            $default = $this->Assets('default-user.png','img');
            $size = 40;
            $grav_url = "http://www.gravatar.com/avatar/" . md5( strtolower( trim( $email ) ) ) . "?d=" . urlencode( $default ) . "&s=" . $size;
        ?>
        <img  class="user-logo" src="<?php echo $grav_url; ?>" alt="" />
        <span class="user-email"><?php echo $email;?></span>
    </header>
    <section>
        <ul class="navigation">
            <?php if(session::exists('user')) { ?>
            <!-- Pages-->
            <li <?php if($slug == 'pages'){?> class="active"<?php };?>>
                <a href="<?php echo $this->url();?>/pages"><?php echo Panel::$lang['Pages'];?></a>
            </li>

            <!-- Blocks-->
            <li <?php if($slug == 'blocks'){?> class="active"<?php };?>>
                <a href="<?php echo $this->url();?>/blocks">
                    <?php echo Panel::$lang['Blocks'];?>
                </a>
            </li>

            <!-- Uploads-->
            <li <?php if($slug == 'uploads'){?> class="active"<?php };?>>
                <a href="<?php echo $this->url();?>/uploads">
                    <?php echo Panel::$lang['Uploads'];?>
                </a>
            </li>


            <!-- Media-->
            <li <?php if($slug == 'media'){?> class="active has-dropdown"<?php }else{?> class="" <?php };?>>
                <a  href="#" class="dropdown-link">
                    <?php echo Panel::$lang['Media'];?>
                    <span class="arrow"><i class="ti-angle-right"></i></span>
                </a>
                <ul class="dropdown">
                    <li><a href="<?php echo $this->url();?>/media"><?php echo $this::$lang['All_media'];?> </a></li>
                    <li><a href="<?php echo $this->url();?>/media/create"><?php echo $this::$lang['Create_media'];?> </a></li>
                </ul>
            </li>


            <!-- Theme-->
            <li <?php if(
                            $slug == 'templates' ||
                            $slug == 'stylesheets' ||
                            $slug == 'javascript'
                        ){?>
                        class="active has-dropdown"
                <?php }else{?> class="has-dropdown" <?php };?>>
                <a class="dropdown-link" href="#">
                    <?php echo Panel::$lang['Themes'];?>
                    <span class="arrow"><i class="ti-angle-right"></i></span>
                </a>
                <ul class="dropdown">
                    <li><a href="<?php echo $this->url();?>/templates"><?php echo Panel::$lang['Templates'];?> </a></li>
                    <li><a href="<?php echo $this->url();?>/stylesheets"><?php echo Panel::$lang['Stylesheets'];?> </a></li>
                    <li><a href="<?php echo $this->url();?>/javascript"><?php echo Panel::$lang['Javascript'];?> </a></li>
                </ul>
            </li>


            <!-- Backups-->
            <li <?php if($slug == 'backups'){?> class="active"<?php };?>>
                <a href="<?php echo $this->url();?>/backups">
                    <?php echo Panel::$lang['Backups'];?>
                </a>
            </li>

            <!-- Backups-->
            <li <?php if($slug == 'diag'){?> class="active"<?php };?>>
                <a href="<?php echo $this->url();?>/diag">
                    <?php echo Panel::$lang['Diagnostic'];?>
                </a>
            </li>

            <!-- Config-->
            <li <?php if($slug == 'config'){?> class="active"<?php };?>>
                <a href="<?php echo $this->url();?>/config">
                    <?php echo Panel::$lang['Config'];?>
                </a>
            </li>

            <!-- Support-->
            <li class="has-dropdown">
                <a class="dropdown-link" href="#">
                    <?php echo Panel::$lang['Support'];?>
                    <span class="arrow"><i class="ti-angle-right"></i></span>
                </a>
                <ul class="dropdown">
                    <li><a target="_blank" href="http://morfy.org/documentation">Documentation</a></li>
                    <li><a target="_blank" href="http://forum.morfy.org/" title="Morfy Forum">Morfy Forum</a></li>
                    <li><a target="_blank" href="http://gitter.im/morfy-cms/morfy" title="Morfy on Gitter">Morfy on Gitter</a></li>
                </ul>
            </li>
            <?php }; ?>
        </ul>
    </section>

    <footer>
        <?php echo $this->appName;?> :: <?php echo $this->version;?>
    </footer>
</nav>