<?php $this->partial('head',array()); ?>
<?php $this->partial('navigation',array()); ?>
<!-- wrapper -->
<main id="wrapper">
    <?php $this->partial('header',array('title'=>$title)); ?>
    <!-- content -->
    <section id="content">
      <div class="container">
        <!-- Main  page -->
        <?php if(Session::exists('user')){ ?>
        <section class="subheader">
          <div class="row">
            <div class="box-2 col">
              <?php echo $prev; ?>
              <span class="btn blue"><?php echo $offset;?> - <?php echo $total;?></span>
              <?php echo $next; ?>
            </div>
            <div class="box-2 col">
              <div class="search-form">
                <span class="icon"><i class="ti-search"></i></span>
                <input type="search" id="search-media" placeholder="Search..." required/>
              </div>
            </div>
          </div>
        </section>

        <?php echo $content ?>

        <?php }; ?>
      </div>
    </section>
</main>
<?php $this->partial('footer',array()); ?>