<?php $this->partial('head',array()); ?>
<?php $this->partial('navigation',array()); ?>
<!-- wrapper -->
<main id="wrapper">
    <?php $this->partial('header',array('title'=>$title)); ?>
    <!-- content -->
    <section id="content">
      <div class="container">
        <!-- Main  page -->
        <?php if(Session::exists('user')){ ?>
        <section class="subheader">
          <div class="row">
            <div class="box-2 col">
              <?php echo $prev; ?>
              <span class="btn blue"><?php echo $offset;?> - <?php echo $total;?></span>
              <?php echo $next; ?>
            </div>
            <div class="box-2 col">
              <div class="search-form">
                <span class="icon"><i class="ti-search"></i></span>
                <input type="search" id="search" data-search="pages" placeholder="Search..." required/>
              </div>
            </div>
          </div>
        </section>
        <div class="row">
          <div class="box-1 col">

            <!-- pages -->
            <table class="responsive">
              <tbody>
                <tr>
                  <th><?php echo Panel::$lang['Name'];?></th>
                  <th><?php echo Panel::$lang['Directory'];?></th>
                  <th class="hide-for-mobile"><?php echo Panel::$lang['Extension'];?></th>
                  <th><?php echo Panel::$lang['Options'];?></th>
                </tr>
            <?php
              // generate token
              $token = Token::generate();

              foreach ($content as $item) {
                // size
                $size = $this->fileSize($item);
                // onloy show pages dir
                $file = str_replace(STORAGE.'/', '', $item);
                // get extension
                $extension = File::ext($file);
                // get name
                $name = File::name($file);
                // directory
                $directory = str_replace($name.'.'.$extension, '', $file);
                $showDirOptions = '';

                $frontslash = explode('/',$directory);
                $backslash = explode('\\',$directory);
                if(count($frontslash) > 2 || count($backslash) > 2 ){
                  $showDirOptions =
                    '<a  class="btn green"
                          href="'.$this->Url().'/action/newfile/'.$token.'/'.base64_encode($directory).'"
                          title="'.Panel::$lang['New_File'].'">
                            <i class="ti-file"></i>
                      </a>
                      <a  class="btn green"
                          href="'.$this->Url().'/action/newfolder/'.$token.'/'.base64_encode($directory).'"
                          title="'.Panel::$lang['New_Folder'].'">
                            <i class="ti-folder"></i>
                      </a>
                       <a  class="btn red"
                          onclick="return confirm(\''.Panel::$lang['Are_you_sure_to_delete'].' !\')"
                          href="'.$this->Url().'/action/removefolder/'.$token.'/'.base64_encode($directory).'"
                          title="'.Panel::$lang['Remove_Folder'].'">
                            <i class="ti-folder"></i>
                      </a>';
                }

                // check if is index
                $suggest = '';
                if($name == 'index'){
                    $suggest = Panel::$lang['exencial_file'];
                }

                // show
                echo '
                  <tr>
                    <td>'.$name.'</td>
                    <td>'.$directory.'</td>
                    <td class="hide-for-mobile">'.$extension.'</td>
                    <td>
                      <div class="btn-group">
                        <a  class="btn default"
                            target="_blank"
                            href="'.$this->Url().'/action/preview/'.base64_encode($item).'"
                            title="'.Panel::$lang['Preview'].'">
                              <i class="ti-eye"></i>
                        </a>
                        <a  class="btn blue"
                            href="'.$this->Url().'/action/edit/'.$token.'/'.base64_encode($item).'"
                            title="'.Panel::$lang['Edit_File'].'">
                              <i class="ti-pencil-alt"></i>
                        </a>
                        <a  class="btn yellow"
                            href="'.$this->Url().'/action/rename/'.$token.'/'.base64_encode($item).'"
                            title="'.Panel::$lang['Rename_File'].'">
                              <i class="ti-write"></i>
                        </a>
                        '.$showDirOptions.'
                        <a  class="btn red"
                            onclick="return confirm(\''.Panel::$lang['Are_you_sure_to_delete'].' '.$suggest.' !\')"
                            href="'.$this->Url().'/action/removefile/'.$token.'/'.base64_encode($item).'"
                            title="'.Panel::$lang['Remove_File'].'">
                              <i class="ti-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                ';
              };
              ?>
              </tbody>
            </table>
            <div class="left">
              <a class="btn blue"
                href="<?php echo $this->Url().'/action/newfile/'.$token.'/'.base64_encode($directory)?>">
                <?php echo Panel::$lang['New_File'];?>
              </a>
              <a class="btn green"
                href="<?php echo $this->Url().'/action/newfolder/'.$token.'/'.base64_encode($directory)?>">
                <?php echo Panel::$lang['New_Folder'];?>
              </a>
              <!-- blog upload -->
              <a href="#" class="btn yellow open-modal" id="uploadFile">
                <i class="ti-upload"></i> - <?php echo $this::$lang['Blog'];?></a>
              <div class="modal">
                  <div class="modal-content">
                    <h4 class="blue info"><?php echo $this::$lang['Import_blog_files'];?></h4>
                    <form class="mediauploader" method="post"  enctype="multipart/form-data">
                        <input type="hidden" name="token" value="<?php echo Token::generate();?>"/>
                        <input type="file" name="pagesFile" accept=".md" required/>
                        <input type="submit" name="uploadFile" class="btn blue" value="<?php echo $this::$lang['Upload'];?>">
                        <a href="#" class="btn red  close-modal"><?php echo $this::$lang['Cancel'];?></a>
                    </form>
                  </div>
              </div>
            </div>
            <div class="right">

              <!-- upload  zip-->
              <a href="#" class="btn yellow open-modal" id="importFile">
                <i class="ti-upload"></i> - <?php echo $this::$lang['Import_zip'];?></a>
              <div class="modal">
                  <div class="modal-content">
                    <h4 class="blue info"><?php echo $this::$lang['Import_backup_files'];?></h4>
                    <form class="mediauploader" method="post"  enctype="multipart/form-data">
                        <input type="hidden" name="token" value="<?php echo Token::generate();?>"/>
                        <input type="file" name="importfile" accept=".zip"  required />
                        <input type="submit" name="importZipFile" class="btn blue" value="<?php echo $this::$lang['Import'];?>">
                        <a href="#" class="btn red  close-modal"><?php echo $this::$lang['Cancel'];?></a>
                    </form>
                  </div>
              </div>
              <!-- clear cache -->
              <a class="btn default"
                href="<?php echo $this->Url().'/action/clearCache/'.$token?>">
                <?php echo $this::$lang['Clear_cache'];?>
              </a>
          </div>
          </div>
        </div>
        <?php }; ?>
      </div>
    </section>
</main>
<?php $this->partial('footer',array()); ?>