/*  PLACEHOLDER
----------------------*/
::-webkit-input-placeholder {
    color: #3498db;
}
:-moz-placeholder {
    color: #3498db;
}
::-moz-placeholder {
    color: #3498db;
}
:-ms-input-placeholder {
    color: #3498db;
}

/*  SCROLLBAR
-------------------*/
::-webkit-scrollbar {
    background: #ddd;
}
::-webkit-scrollbar-track {
    background-color: #fdfdfd;
}
::-webkit-scrollbar-thumb {
    background: #ddd;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd;
}


/*  SELECTION
-------------------*/
::-moz-selection {
    color: white;
    background: #333;
}
::selection {
    color: white;
    background: #333;
}
::-moz-selection {
    color: white;
    background: #333;
}


/*  Base
---------------------------*/
*,
*:after,
*:before {
    box-sizing: border-box;
}

img {
    width: 100%;
}
html,
body {
    font-size: 100%;

    position: relative;

    height: 100%;

    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;

    overflow: hidden;

    margin: 0;
    padding: 0;

    color: #555;
    background: #faf8fa;
}


/*  Grid
---------------------------*/


.row,
.row:after {
    clear: both;
}

.row {
    zoom: 1;

    margin: 0;
    padding: 0;
}

.col {
    display: none;
    float: left;

    margin: .5em;

    opacity: 0;
}

.col:first-child {
    margin-left: 0;
}

.row:after,
.row:before {
    display: table;

    content: '';
}

.box-1 {
    width: 100%;
}

.box-2 {
    width: calc(100% / 2 - .8em);
}
.box-3 {
    width: calc(100% / 3 - 0em);
}
.box-4 {
    width: calc(100% / 4 - 1em);
}
.box-5 {
    width: calc(100% / 5 - 1em);
}


@media only screen and (max-width: 480px) {
    .col {
        margin: 1em 0;
    }
}

@media only screen and (max-width: 800px) {
    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        width: calc(100%/1 - .5em);
    }
    .col {
        margin: 0;
    }
}


/*  Btn
---------------------------*/

.btn,
input[type=submit] {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;

    display: inline-block;

    margin: .2em;
    padding: .6em 1em;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-transform: capitalize;

    color: #777;
    border: 1px solid #777;
    border-radius: 2px;
    background-color: #fff;
    background-image: none;

    -webkit-appearance: none;
    touch-action: manipulation;
}

.btn:hover,
input[type=submit]:hover {
    text-decoration: none;

    color: #fff;
    border-color: #313131;
    background-color: #313131;
}

.btn-danger,
.btn-danger:hover,
btn-danger:active,
btn-danger:focus {
    transition: all .5s ease;

    border-color: #f06565;
    background-color: white;
}

.btn-danger {
    color: #f06565;
    background: #fff;
}

.btn-danger:hover {
    color: #fff;
    background: #e74c3c;
}

.btn-black {
    color: #717273;
    border-color: #e0e0e0;
    background: #fdfdfd;
}

.btn-black:hover {
    color: #34495e;
    border-color: #34495e;
    background: #fff;
}

.disable,
.disable:hover,
.disable:focus,
.disable:active {
    color: #3498db;
    border-color: #ccc;
    background: transparent;
}

.btn-group a {
    margin: 0.5em 0.1em;
    padding: 0.4em 0.5em;
    line-height: 1;
    border-radius: 100%;
}


/*  Imputs
---------------------------*/
label {
    font-weight: 300;

    display: block;

    padding: .5em;

    color: #000;
}

input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=text],
select,
textarea {
    font-weight: 400;
    line-height: inherit;
    display: block;
    width: 100%;
    margin: .8em 0;
    padding: .6em .8em;
    transition: all 500ms ease;
    vertical-align: middle;
    color: #313131;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
}


input[type=email]:focus,
input[type=file]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=text]:focus,
.search-form input[type=search]:focus,
select:focus,
textarea:focus {
    transition: all 500ms ease;

    border: 1px solid #fff;
    border-bottom: 1px solid #f55;
    outline: none;
    background: #f7f7f7;
}

fieldset {
    font-weight: 700;

    margin: 1em 0;

    color: #000;
    border: 1px solid #ecf0f1;
    background-color: #fff;
}



@media (max-width: 851px) {
    input[type=email],
    input[type=file],
    input[type=search],
    input[type=number],
    input[type=password],
    input[type=text],
    select,
    textarea {
        width: 100%;
        max-width: 100%;
    }
}



/*  helpers
---------------------------*/
.inline {
    display: inline;

    margin: 0;
    padding: 0;

    list-tyle: none;
}
.inline li {
    display: inline;
}




/*  Login
---------------------------*/
.login-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 22.8em;
    height: 18em;
    margin: auto;
    padding: 0;
}
.logo {
    width: 10em;
    padding: .5em;
}
.login-panel .form {
    display: block;

    width: 100%;
    margin: 0 auto;
    padding: 0 .8em;
}


/*  Slide out
---------------------------*/

#menu {
    position: absolute;

    width: 200px;
    height: 100%;

    -webkit-transform: translate(-200px, 0px);
            transform: translate(-200px, 0px);

    border-right: 1px solid #ccc;
    background: #fff;
}

#wrapper,
#menu {
    transition: all 500ms ease;
}

.is-opened {
    transition: all 500ms ease;
    -webkit-transform: translate(0px, 0px) !important;
            transform: translate(0px, 0px) !important;
}

.menu-is-open {
    transition: all 500ms ease;
    -webkit-transform: translate(200px, 0px) !important;
            transform: translate(200px, 0px) !important;
}

[class^='ti-close'] {
    color: #f06565;
}


/* Inside Menu
----------------------------*/

#menu header {
    line-height: 39px;

    display: block;

    min-height: 40px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
    border-bottom: 1px solid #000;
    background: #313131;
}
#menu header a {
    text-decoration: none;

    color: #fdfdfd;
}

#menu section {
    overflow: auto;

    height: calc(100% - 80px);
    margin: 0;
    padding: 0;

    color: #a7a7a7;
    background: #fff;
}


/*  Left menu
---------------------------*/

#menu .navigation {
    margin: 0;
    padding: 0;
}

li.has-dropdown {
    display: block;

    margin: 0;
    padding: 0;

    text-align: left;
}

#menu li a {
    line-height: 1.5;

    display: block;

    margin: 0;
    padding: .6em .8em;

    transition: all 300ms ease;
    text-decoration: none;
    text-transform: capitalize;

    color: #717273;
    border-bottom: 1px solid #ccc;
    background: #faf8fa;
}
#menu li a:hover {
    transition: all 300ms ease;

    color: #3498db;
    border-bottom: 1px solid #198bea;
    background: #ecf0f1;
}

#menu li.active a {
    color: #f06565;
    border-bottom: 1px solid #f06565;
    background: #ecf0f1;
}

ul.dropdown {
    display: none;
    margin: 0;
    padding: .5em;
    list-style: none;
    background-color: #f2f2f2;
}





span.arrow {
    font-size: 10px;
    line-height: 2;

    float: right;
}

.show_menu {
    display: block!important;
}

#menu footer {
    font-size: 12px;
    font-weight: 700;
    line-height: 3.5em;

    display: block;

    width: 100%;
    height: 3.5em;

    text-align: center;

    color: #fdfdfd;
    background-color: #313131;
}
/*  header
---------------------------*/

#header {
    overflow: hidden;

    height: 40px;

    border-bottom: 1px solid #ccc;
    background: #313131;
}

#header h2 {
    line-height: 1.6;

    float: left;

    margin: 0;
    margin-left: 1em;

    color: white;
}
#header .header-breadcrumb {
    margin-left: 1em;
    padding-left: 1em;

    color: #717273;
    border-left: 1px solid #717273;
}

#header .menu {
    font-size: 1em;
    line-height: 40px;

    display: block;
    float: left;

    width: 50px;
    height: 40px;

    text-align: center;
    text-decoration: none;

    color: #fdfdfd;
    border-right: 1px solid #000;
    background: #313131;
}

#header .right a {
    font-size: 1em;
    line-height: 40px;

    float: right;

    width: 50px;
    height: 40px;

    transition: all 500ms ease;
    text-align: center;
    text-decoration: none;

    color: #fdfdfd;
    border-left: 1px solid #000;
    background: #313131;
}

#header .right a:hover {
    transition: all 500ms ease;

    color: #198bea;
    background: #434344;
}

a.header-title {
    font-size: 12px;

    transition: all 500ms ease;
    text-decoration: none;
    text-transform: uppercase;

    color: #fdfdfd;
}

a.header-title:hover {
    transition: all 500ms ease;
    text-decoration: none;

    color: #198bea;
}


/*  wrapper
---------------------------*/
.login-page{
    background: url(../img/sky-bg.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background:white;
}



/*  Content
---------------------------*/

#content {
    display: block;
    overflow: auto;

    width: calc(100% - .5em);
    height: calc(100% - 66px);
    margin: .5em auto;
    padding: .25em;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
#loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 250px;
    height: 140px;
    margin: auto;
    overflow: hidden;
    z-index: 999;
}
/*  table
---------------------------*/

.responsive {
    width: 100%;
    margin: 1em auto;
    padding: 0;

    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fdfdfd;
}

.responsive table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    border-spacing: 0;
    border-collapse: collapse;
}

.responsive tr th {
    font-weight: 300;

    margin: 0;
    padding: .5em;

    color: #ccc;
    border: 1px solid #040404;
    outline: none;
    background: #313131;
}

.responsive tr:nth-child(even) {
    background-color: #f9f9f9;
}

.responsive tr:nth-child(odd) {
    background-color: #ecf0f1;
}
.responsive td {
    font-weight: 300;
    display: table-cell;
    width: calc(100%/4);
    margin: 0;
    padding: 0em .5em;
    text-align: center;
    vertical-align: middle;
    color: #777;
    border: 0 solid #fff;
    border-bottom: 1px solid #ccc;
}

.responsive td:first-child {
    color: #3498db;
    text-align: left;
}
.responsive tr:last-child td {
    border-width: 0 1px 0 0;
}

.responsive tr:hover td {
    background-color: #f9f9f9;
}

.responsive tr:first-child td:last-child {
    width: 25%;

    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .responsive tr:first-child td:last-child {
        width: 30%;

        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .responsive tr:first-child td:last-child {
        width: 21%;

        text-align: center;
    }
    .image-preview img {
        max-width: 100%;
    }
}


/*  well
---------------------------*/
.well {
    display: block;

    padding: 1em;

    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #434344;
}


.login-panel input {
    margin: .6em auto;
}

.error,
.information,
.success {
    display: inline-block;

    margin: 0;
    padding: .5em .8em;

    border-radius: 2px;
}

.error a,
.information a,
.success a {
    color: white;
}
.error {
    color: white;
    border: 1px solid #c0392b;
    background: #e74c3c;
}

.information {
    color: white;
    border: 1px solid #198bea;
    background: #3498db;
}
.success {
    color: white;
    border: 1px solid #25842d;
    background: #23b327;
}

.dashboard-info {
    display: block;

    margin: 1em;
    padding: 0;

    border: 1px solid #313131;
}

.dashboard-name {
    font-size: 13px;
    font-weight: 300;

    margin: 0;
    padding: .5em;

    text-transform: uppercase;

    border-bottom: 1px solid #ccc;
}

.dashboard-content {
    position: relative;

    min-height: 8em;
    padding: .5em;
}

.dashboard-footer {
    padding: .5em;

    text-align: right;

    border-top: 1px solid #ccc;
}

.dashboard-footer a {
    padding: .5em;

    text-decoration: none;

    color: black;
}

.num {
    font-size: 65px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    text-align: center;

    color: #a7a7a7;
    background: #313131;
}

.info {
    max-width: 30em;
    margin: auto;
    padding: 1em;

    color: #040404;
}

.info label {
    color: red;
}

.info label code {
    padding: 0 1em;

    color: #b5b5b5;
}





/* animation */
.view {
    display: block !important;

    margin: .4em auto;

    transform: scale(1);
    animation: selected 300ms 1 ease-in-out;

    opacity: 1 !important;
}
@keyframes selected {
    0% {
        opacity: 0;
    }
}

.editor-label {
    display: inline-block;

    margin-bottom: 1em;
    padding: .2em .8em;

    color: #555;
    background: #fdfdfd;
}
.editor,
.editor:focus {
    font-family: consolas,monospace;
    font-size: 15px;

    max-width: 100%;
    min-height: 400px;

    color: #e0e0e0;
    border: 1px solid #313131;
    background: #313131;
}


.image-preview img {
    display: block;

    max-width: calc(100%/2);
    padding: .5em;

    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: #fff;
}

.preview  ul {
    width: 46em;
    max-width: 100%;
    margin: 1em 0;
    padding: 0;

    list-style: none;

    border: 1px solid #e0e0e0;
}

.preview li {
    font-family: consolas,monospace;
    font-size: 12px;

    display: block;

    padding: .6em .8em;

    color: #555;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 2px;
    background: #fdfdfd;
}

.preview li:last-child {
    border: none;
}
.preview li b {
    margin-right: 1em;

    color: #198bea;
}
.preview .code {
    color: #f06565;
}



.search-form input[type='search'] {
    font-size: 10pt;

    float: right;

    width: 50px;
    height: 40px;
    padding-right: 40px;
    padding-left: 10px;

    -webkit-transition: width .55s ease;
       -moz-transition: width .55s ease;
        -ms-transition: width .55s ease;
         -o-transition: width .55s ease;
            transition: width .55s ease;

    color: #040404;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #fdfdfd;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.search-form input[type='search'],
.search-form input[type='search']:active {
    width: 300px;

    outline: none;
}
.search-form .icon {
    position: absolute;
    z-index: 1;
    right: 0;

    margin-top: 10px;
    margin-right: 17px;

    color: #040404;
}
/* Placeholder color*/
.search-form input[type='search']::-webkit-input-placeholder {
    color: #65737e;
}
/* Firefox 18- */
.search-form input[type='search']:-moz-placeholder {
    color: #65737e;
}
/* Firefox 19+ */
.search-form input[type='search']::-moz-placeholder {
    color: #65737e;
}
/* IE */
.search-form input[type='search']:-ms-input-placeholder {
    color: #65737e;
}


@media (min-width: 851px) {
    .hide-for-mobile {
        display: table-cell;
    }
    .show-for-mobile {
        display: none!important;
    }
}

@media (max-width: 850px) {
    .pull-left,
    .pull-right {
        float: none;
    }
    .hide-for-mobile {
        display: none!important;
    }
    .show-for-mobile {
        display: table-cell!important;
    }
}


.editfile{
    background: #313131;
    color: #F2F2F2;
    border-color: #313131;
}
.previewfile {
    background: #3498db;
    color: #fdfdfd;
    border-color: #198bea;
}

.renamefile {
    background: #FF9800;
    color: white;
    border-color: #FF5722;
}
.newfile,.newfolder{
    background: #44B144;
    color: white;
    border-color: #389038;
}
.removefolder,.removefile{
    background: #f06565;
    border-color: #e74c3c;
    color: white;
}