<?php defined('PANEL_ACCESS') or die('No direct script access.'); ?>

	<div id="footer">
		<div class="container">
			<p class="text-muted pull-right">Development by <a href="http://monchovarela.es/">Nakome</a> | Design by <a href="http://www.xxwebplus.eu/">xxwebplus</a></p>
		</div>
	</div>

    <!-- ================  Javascript  ================== -->
    <script type="text/javascript" src="<?php echo $this->Assets('jquery.js','js');?>"></script>
	<script type="text/javascript" src="<?php echo $this->Assets('bootstrap.min.js','js');?>"></script>
	<script type="text/javascript" src="<?php echo $this->Assets('markdown.js','js');?>"></script>
	<script type="text/javascript" src="<?php echo $this->Assets('to-markdown.js','js');?>"></script>
	<script type="text/javascript" src="<?php echo $this->Assets('bootstrap-markdown.js','js');?>"></script>
	<!-- custom javascript -->
    <script type="text/javascript" src="<?php echo $this->Assets('app.js','js');?>"></script>

  </body>
</html>
