<?php $this->partial('head',[]); ?>
<?php $this->partial('navigation',[]); ?>
<!-- wrapper -->
<main id="wrapper">
    <?php $this->partial('header',['title'=>$title]); ?>
    <!-- content -->
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="box-1 col">
            <!-- Main  page -->
            <?php  if(Session::exists('user')) echo $html; ?>
          </div>
        </div>
      </div>
    </section>
</main>
<?php $this->partial('footer',[]); ?>