<?php $this->partial('head',array()); ?>
<?php $this->partial('navigation',array()); ?>
<?php if(Session::exists('user')){ ?>
  <div id="wrapper">
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row mt60">
                    <div class="col-lg-12">
                        <a
                          class="btn btn-primary"
                          href="<?php echo $this->Url().'/action/compress/public/'.Token::generate();?>">
                          <?php echo Panel::$lang['Zip_Public'];?>
                        </a>
                        <a
                          class="btn btn-success"
                          href="<?php echo $this->Url().'/action/compress/storage/'.Token::generate();?>">
                          <?php echo Panel::$lang['Zip_Storage'];?>
                        </a>
                        <a
                          class="btn btn-warning"
                          href="<?php echo $this->Url().'/action/compress/themes/'.Token::generate();?>">
                          <?php echo Panel::$lang['Zip_Themes'];?>
                        </a>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Backups</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                    <th><?php echo Panel::$lang['Name'];?></th>
                    <th><?php echo Panel::$lang['Size'];?></th>
                    <th><?php echo Panel::$lang['Extension'];?></th>
                    <th><?php echo Panel::$lang['Options'];?></th>
                                    </tr>
                  <?php
                    // generate token
                    $token = Token::generate();

                    foreach ($content as $item) {
                    // size
                    $size = $this->fileSize($item);
                    // onloy show pages dir
                    $file = str_replace(THEMES, '', $item);
                    // get extension
                    $extension = File::ext($file);
                    // get name
                    $name = File::name($file);
                    // directory
                    $directory = str_replace($name.'.'.$extension, '', $file);
                    // show
                    echo '
                      <tr>
                      <td>'.$name.'.'.$extension.'</td>
                      <td class="hide-for-mobile">'.$size.'</td>
                      <td class="hide-for-mobile">'.$extension.'</td>
                      <td class="right">
                        <div class="btn-group">
                        <a  class="btn btn-warning"
                          href="'.$this->Url().'/action/backups/rename/'.$token.'/'.base64_encode($item).'"
                          title="'.Panel::$lang['Rename_File'].'">
                            <i class="ti-write"></i>
                        </a>
                        <a  class="btn btn-success"
                          href="'.$this->Url().'/action/backups/download/'.$token.'/'.base64_encode($item).'"
                          title="'.Panel::$lang['Remove_File'].'">
                            <i class="fa fa-upload"></i>
                        </a>
                        <a  class="btn btn-danger"
                          onclick="return confirm(\''.Panel::$lang['Are_you_sure_to_delete'].' !\')"
                          href="'.$this->Url().'/action/backups/removefile/'.$token.'/'.base64_encode($item).'"
                          title="'.Panel::$lang['Remove_File'].'">
                            <i class="ti-trash"></i>
                        </a>
                        </div>
                      </td>
                      </tr>
                    ';
                    };
                    ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid mt60 -->

        </div>
        <!-- /#page-wrapper -->
    
    </div>
    <!-- /#wrapper -->
<?php }; ?>
<?php $this->partial('footer',array()); ?>
