<?php $this->partial('head',[]); ?>
<?php $this->partial('navigation',[]); ?>
<!-- wrapper -->
<main id="wrapper">
    <?php $this->partial('header',['title'=>$title]); ?>
    <!-- content -->
    <section id="content">
      <div class="container">
        <!-- Main  page -->
        <?php if(Session::exists('user')){ ?>
        <div class="row">
          <div class="box-2 col">
            <?php echo $prev; ?>
            <span class="btn disable"><?php echo $offset;?></span>
            <?php echo $next; ?>
          </div>
          <div class="box-2 col">
            <div class="search-form">
              <span class="icon"><i class="ti-search"></i></span>
              <input type="search"  id="search-files" placeholder="Search..." required/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="box-1 col">
            <!-- pages -->
            <table class="responsive">
              <tbody>
                <tr>
                  <th><?php echo Panel::$lang['Directory'];?></th>
                  <th><?php echo Panel::$lang['Name'];?></th>
                  <th class="hide-for-mobile"><?php echo Panel::$lang['Extension'];?></th>
                  <th><?php echo Panel::$lang['Options'];?></th>
                </tr>

            <?php 
              // generate token
              $token = Token::generate();

              if(count($content) > 0) foreach ($content as $item) {
                // onloy show pages dir
                $file = str_replace(PUBLICFOLDER.'/', '', $item);
                // get extension
                $extension = File::ext($file);
                // get name
                $name = File::name($file);
                // directory
                $directory = str_replace($name.'.'.$extension, '', $file);
                $showDirOptions = '';
                $frontslash = explode('/',$directory);
                $backslash = explode('\\',$directory);
                if(count($frontslash) > 2 || count($backslash) > 2 ){
                  $showDirOptions = 
                    '<a  class="btn newfile"
                          href="'.$this->Url().'/action/uploads/newfile/'.$token.'/'.base64_encode($directory).'" 
                          title="'.Panel::$lang['New_File'].'">
                            <i class="ti-file"></i>
                      </a>
                      <a  class="btn newfolder"
                          href="'.$this->Url().'/action/uploads/newfolder/'.$token.'/'.base64_encode($directory).'" 
                          title="'.Panel::$lang['New_Folder'].'">
                            <i class="ti-folder"></i>
                      </a>
                      <a  class="btn btn-danger removefolder"
                            href="'.$this->Url().'/action/uploads/removefolder/'.$token.'/'.base64_encode($directory).'" 
                            title="'.Panel::$lang['Remove_Folder'].'">
                              <i class="ti-folder"></i>
                      </a>';

                }
                // show
                echo '
                  <tr>
                    <td>'.$directory.'</td>
                    <td>'.$name.'</td>
                    <td class="hide-for-mobile">'.$extension.'</td>
                    <td>
                      <div class="btn-group">   
                        <a  class="btn previewfile"
                            href="'.$this->Url().'/action/uploads/preview/'.base64_encode($item).'" 
                            title="'.Panel::$lang['Preview'].'">
                              <i class="ti-eye"></i>
                        </a> 
                        <a  class="btn renamefile"
                            href="'.$this->Url().'/action/uploads/rename/'.$token.'/'.base64_encode($item).'" 
                            title="'.Panel::$lang['Rename_File'].'">
                              <i class="ti-write"></i>
                        </a>
                        '.$showDirOptions.'
                        <a  class="btn btn-danger removefile"
                            href="'.$this->Url().'/action/uploads/removefile/'.$token.'/'.base64_encode($item).'" 
                            title="'.Panel::$lang['Remove_File'].'">
                              <i class="ti-trash"></i>
                        </a>
                      </div>      
                    </td>
                  </tr>';
              }
            ?>
              </tbody>
            </table>
            <a class="btn" href="<?php echo $this->Url().'/action/uploads/newfile/'.$token.'/'.base64_encode('uploads\\')?>">
              <?php echo Panel::$lang['New_File'];?>
            </a>
            <a class="btn" href="<?php echo $this->Url().'/action/uploads/newfolder/'.$token.'/'.base64_encode('uploads\\')?>">
              <?php echo Panel::$lang['New_Folder'];?>
            </a>
          </div>
        </div>
        <?php }; ?>
      </div>
    </section>
</main>
<?php $this->partial('footer',[]); ?>