<?php $this->partial('head',[]); ?>
<?php $this->partial('navigation',[]); ?>
<!-- wrapper -->
<main id="wrapper">
    <?php $this->partial('header',['title'=>$title]); ?>
    <!-- content -->
    <section id="content">
      <div class="container">
        <!-- Main  page -->
        <?php if(Session::exists('user')){ ?>
        <section class="subheader">
          <div class="row">
            <div class="box-2 col">
              <?php echo $prev; ?>
              <span class="btn blue"><?php echo $offset;?> - <?php echo $total;?></span>
              <?php echo $next; ?>
            </div>
            <div class="box-2 col">
              <div class="search-form">
                <span class="icon"><i class="ti-search"></i></span>
                <input type="search"  id="search-files" placeholder="Search..." required/>
              </div>
            </div>
          </div>
        </section>
        <div class="row">
          <div class="box-1 col">
            <!-- pages -->
            <table class="responsive uploads">
              <tbody>
                <tr>
                  <th><?php echo Panel::$lang['Name'];?></th>
                  <th><?php echo Panel::$lang['Directory'];?></th>
                  <th class="hide-for-mobile"><?php echo Panel::$lang['Extension'];?></th>
                  <th class="hide-for-mobile"><?php echo Panel::$lang['Size'];?></th>
                  <th><?php echo Panel::$lang['Options'];?></th>
                </tr>

            <?php
              // generate token
              $token = Token::generate();

              if(count($content) > 0) foreach (array_reverse($content) as $item) {

                // size
                $size = $this->fileSize($item);
                // onloy show pages dir
                $file = str_replace(PUBLICFOLDER.'/', '', $item);
                // get extension
                $extension = File::ext($file);
                // get name
                $name = File::name($file);
                // directory
                $directory = str_replace($name.'.'.$extension, '', $file);
                $showDirOptions = '';
                $frontslash = explode('/',$directory);
                $backslash = explode('\\',$directory);
                if(count($frontslash) > 2 || count($backslash) > 2 ){
                  $showDirOptions =
                    '<a  class="btn blue"
                          href="'.$this->Url().'/action/uploads/newfile/'.$token.'/'.base64_encode($directory).'"
                          title="'.Panel::$lang['New_File'].'">
                            <i class="ti-file"></i>
                      </a>
                      <a  class="btn green"
                          href="'.$this->Url().'/action/uploads/newfolder/'.$token.'/'.base64_encode($directory).'"
                          title="'.Panel::$lang['New_Folder'].'">
                            <i class="ti-folder"></i>
                      </a>
                      <a  class="btn red"
                            onclick="return confirm(\''.Panel::$lang['Are_you_sure_to_delete'].' !\')"
                            href="'.$this->Url().'/action/uploads/removefolder/'.$token.'/'.base64_encode($directory).'"
                            title="'.Panel::$lang['Remove_Folder'].'">
                              <i class="ti-folder"></i>
                      </a>';
                }
                // show
                echo '
                  <tr>
                    <td>'.$name.'</td>
                    <td>'.$directory.'</td>
                    <td class="hide-for-mobile">'.$extension.'</td>
                    <td class="hide-for-mobile">'.$size.'</td>
                    <td>
                      <div class="btn-group">
                        <a  class="btn default"
                            href="'.$this->Url().'/action/uploads/preview/'.base64_encode($item).'"
                            title="'.Panel::$lang['Preview'].'">
                              <i class="ti-eye"></i>
                        </a>
                        <a  class="btn yellow"
                            href="'.$this->Url().'/action/uploads/rename/'.$token.'/'.base64_encode($item).'"
                            title="'.Panel::$lang['Rename_File'].'">
                              <i class="ti-write"></i>
                        </a>
                        '.$showDirOptions;
                      if(File::name($name) != 'folder'){
                        echo '
                          <a  class="btn red"
                              onclick="return confirm(\''.Panel::$lang['Are_you_sure_to_delete'].' !\')"
                              href="'.$this->Url().'/action/uploads/removefile/'.$token.'/'.base64_encode($item).'"
                              title="'.Panel::$lang['Remove_File'].'">
                                <i class="ti-trash"></i>
                          </a>';
                      }
                    echo '
                      </div>
                    </td>
                  </tr>';
              }
            ?>
              </tbody>
            </table>

            <div class="left">
              <a class="btn blue" href="<?php echo $this->Url().'/action/uploads/newfile/'.$token.'/'.base64_encode('uploads\\')?>">
                <?php echo Panel::$lang['New_File'];?>
              </a>
              <a class="btn green" href="<?php echo $this->Url().'/action/uploads/newfolder/'.$token.'/'.base64_encode('uploads\\')?>">
                <?php echo Panel::$lang['New_Folder'];?>
              </a>
            </div>

            <div class="btn default right">
              <b><i class="ti-folder"></i> : </b>
              <?php echo $this->folderSize(UPLOADS) ?>
            </div>
          </div>
        </div>
        <?php }; ?>
      </div>
    </section>
</main>
<?php $this->partial('footer',[]); ?>